body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $font-line-height;
  font-size: $font-size-default;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  img {
    max-width: 40px;
    vertical-align: middle;
  }
  @include breakpoint-up(lg) {
    min-width: 155px;
  }
}